
 /* ==========================================================================
   Custom Änderungen Contag
   ========================================================================== */

.light-blue.lighten-1 {
  background-color: #2790B0 !important; }

  .light-blue-text {
  color: #93A42A !important; }

  .cyan.lighten-1 {
  background-color: #2790B0 !important; }


.cyan.darken-2 {,
  background-color: #84E0FC !important }
 

 
.cyan.darken-3 {
  background-color: #38CFFC !important; }
 
 
.cyan.darken-4 {
  background-color: #195C70 !important; }


  .green {
  background-color: #93A432 !important; }


  .orange {
  background-color: #4E4D4A !important; }

  body {
  margin: 0; 
  background: #e1e8ed;
 
}
 
 hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; 
 
    margin-right: 1.5rem;
    margin-left: 1.5rem;
 
}

i.large {
    font-size: 7rem; }


footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #4E4D4A;}
 
  footer.page-footer .footer-copyright {
      overflow: hidden;
  height: 35px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
    }
 
table, th, td {
  border: none; }
 
table {
  width: 97%;
  display: table;
 
 
   }



td, th {
    padding: 5px;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  background-clip: padding-box;
 
  background-clip: padding-box; }
 
td.select, th {
    padding: 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  background-clip: padding-box;
 
 
 
  background-clip: padding-box; }
 
#address_td {
 
  text-align: left !important;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  width: 60%;
  font-weight: 300;
 }
 

 .right {
  float: right !important;
      margin-right: -0.25rem !important; }
.right_user {
  float: right !important;
    margin-right: 0.7rem !important; }


    .container {
  padding:0;
  margin: 0 auto;
  max-width: 750px;
  }
 
 
.container_modal {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }
 
.container_home {
padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  background: rgba(255,255,255,0.9);
  border: 1px solid #e1e8ed;
  width: 35%;
  position: relative;
}
 
 
.container_tags {
padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  background: rgba(255,255,255,0.9);
  width: 67%;
  position: relative;
 
  top: 150px;
 
}
 
 
 
.container_home_start {
padding: 0 1.5rem;
  margin-left: 325px;
  max-width: 1280px;
  background: rgba(255,255,255,0.9);
  width: 20%;
  position: relative;
  top: 370px;
 
}



@media only screen and (min-width : 993px) {
  .container {
    width: 90%; }

  }


.container a {
  color: #ffffff;
 }
 
.container .row {
    margin-left: 0.75rem;
  margin-right: 0.75rem; }
 
 
 
 
 
.section {
  padding-top: 5rem;
  padding-bottom: 8rem !important;
 
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
 }

 .row .col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;

 }

  .row .col.s6 {
     width: 48%;
  margin-right: 10px; }


  nav {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 78px;
  line-height: 78px;
  overflow: hidden; }
  nav a {
    color: #fff; }
  nav .nav-wrapper {
    position: relative;
    height: 100%; 
    margin-right: 1rem;
 
 
  }



  nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    margin-left: 0.5rem;
    padding: 0; }

    nav .nav-wrapper {
    position: relative;
    height: 100%; 
    margin-right: 1rem;
 
 
  }


  nav .brand-logo {
    position: absolute;
    color: #fff;
    font-weight: 300;
    display: inline-block;
    font-size: 2.1rem;
    margin-left: 0.5rem;
      
    padding: 0; }

 @media only screen and (max-width : 992px) {
      nav .brand-logo {
      
        margin-top: 3rem;
        margin-left: 9rem;
      }
      .container{
        max-width: 90%;
      }

      #nav_top_right{
        display: none;
      }


 }



 @media only screen and (min-width : 993px, max-width: 1198px; ) {

      .container{
        max-width: 90%;
      }

   }







    @media only screen and (min-width : 601px) {
  #user {
     height: 38px;
  line-height: 38px;
  top: 5px;}
 
  #main_nav{
  height: 63px;
  padding-top: 0px;
  }

  }

  #user {
  height: 38px;
  line-height: 38px;
  top: 5px;}
 
  #main_nav{
  height: 55px;
  padding-top: 0px;
  }
 h5 {
  font-size: 1.64rem;
  line-height: 1.804rem;
  font-weight: 300;
  margin: 0rem 0rem 0rem 1.25rem;}
 
 
#h5_home{
  font-size: 1.64rem;
  line-height: 1.804rem;
  margin: 2rem 0rem 2rem 1.3rem;}
 
 
#h5_address_data{
  font-size: 1.64rem;
  line-height: 1.804rem;
  margin: 2rem 0rem 2rem 0.6rem;}
 
  #test2{
    margin-left: 20px;
    margin-right: 20px;
    width: 99%;
  }
 
 
 
#bold_p{
  font-weight: 500;
}
 
 
 
 
#h6_select{  font-size: 1rem;
  line-height: 1.1rem;
  float: left;
  margin: 2rem 0 0.4rem 0rem; }
 
h6 {
  font-size: 0.8rem;
  line-height: 1.3rem;
  margin: 0.5rem 0 0.5rem 0; }
 
  #clear{
    clear: left;
  }
 


 .card-panel {
  padding: 3rem;
  margin: 2rem 0 1rem 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  min-height: 660px;
  background-clip: padding-box;
  background-color: #fff; }


  .tabs {
    position: relative;
  height: 48px;
  background-color: #FFF;
  margin: 0 auto;
  width: 95% !important;
  white-space: nowrap;}


  .tabs li.tab a {
      color: #2790B0;
      display: block;
      width: 100%;
      height: 100%;
      -webkit-transition: color 0.28s ease;
      -moz-transition: color 0.28s ease;
      -o-transition: color 0.28s ease;
      -ms-transition: color 0.28s ease;
      transition: color 0.28s ease; }
      .tabs li.tab a:hover {
        color: #2790B0; }
  .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #2790B0;
    will-change: left, right; }


    .btn, .btn-large, .btn-flat {
   display: inline-block;
  height: 36px;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 0 1rem;
 
  margin-right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }
 
  .btn.select, .btn-large, .btn-flat {
   display: inline-block;
  height: 36px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 0 1rem;
 
  margin-right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }




.btn, .btn-large {

  background-color: #93A42B;
}


.modal {
 
  background-color: #fff;

  max-height: 85%;
  width: 730px;
  top: 16% !important;
   }


.input-field label {
  left: 0rem;
  }

  select {
 
  width: 98.6%;
  }


 .address_item{
  color: #000;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0em 1em 0.5em 1em;
 }
 
 
 #result_info{
 
  text-align: left;
 }
 
 #userpic{
 
  margin-right: 1rem;
 }
 
#username{
 
color: #ffffff !important;
text-align: left;
 }
 
 
 
 
/* ==========================================================================
   Login Hover Form
   ========================================================================== */
 
 
 
 
 
 
 
@import url('demo.css');
@import url('font-awesome.css');
 
/* GLOBALS */
 
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 
::selection {
    background: transparent; 
}
 
::-moz-selection {
    background: transparent; 
}
 
.wrapper-demo {
    margin: 60px 0 0 0;
    *zoom: 1;
    font-weight: 400;
}
 
.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}
 
/* DEMO 1 */
 
.wrapper-dropdown-1 {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    width: 200px;
    padding: 10px;
    margin: 0 auto;
 
    /* Styles */
    background: #9bc7de;
    color: #fff;
    outline: none;
    cursor: pointer;
 
    /* Font settings */
    font-weight: bold;
}
 
.wrapper-dropdown-1:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;    
}
 
.wrapper-dropdown-1 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
 
    /* Styles */
    background: #fff;
    list-style: none;
    font-weight: normal; /* Cancels previous font-weight: bold; */
 
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}
 
.wrapper-dropdown-1 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px 20px;
}
 
/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a {
    background: #f3f8f8;
}
 
/* Active state */
.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
 
.wrapper-dropdown-1.active:after {
    border-color: #9bc7de transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}
 
.wrapper-dropdown-1.active {
  background: #9bc7de;
  background: -moz-linear-gradient(left,  #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9bc7de), color-stop(78%,#9bc7de), color-stop(78%,#ffffff), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(left,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
  background: -o-linear-gradient(left,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
  background: -ms-linear-gradient(left,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
  background: linear-gradient(to right,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc7de', endColorstr='#ffffff',GradientType=1 );
}
 
/* No CSS3 support */
 
.no-opacity       .wrapper-dropdown-1 .dropdown,
.no-pointerevents .wrapper-dropdown-1 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
 
.no-opacity       .wrapper-dropdown-1.active .dropdown,
.no-pointerevents .wrapper-dropdown-1.active .dropdown {
    display: block;
}
 
/* DEMO 2 */
 
.wrapper-dropdown-2 {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    width: 200px;
    margin: 0 auto;
    padding: 10px 15px;
 
    /* Styles */
    background: #fff;
    border-left: 5px solid grey;
    cursor: pointer;
    outline: none;
}
 
.wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}
 
.wrapper-dropdown-2 .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    right: 0px;
 
    /* Styles */
    background: white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
 
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}
 
.wrapper-dropdown-2 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-left: 5px solid;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
 
.wrapper-dropdown-2 .dropdown li:nth-child(1) a { 
    border-left-color: #00ACED;
}
 
.wrapper-dropdown-2 .dropdown li:nth-child(2) a {
    border-left-color: #4183C4;
}
 
.wrapper-dropdown-2 .dropdown li:nth-child(3) a {
    border-left-color: #3B5998;
}
 
.wrapper-dropdown-2 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}
 
/* Hover state */
 
.wrapper-dropdown-2 .dropdown li:hover a {
    color: grey;
}
 
/* Active state */
 
.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}
 
.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
 
/* No CSS3 support */
 
.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
 
.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown {
    display: block;
}
 
/* DEMO 3 */
 
.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
 
    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
 
    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}
 
.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}
 
.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
 
    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
 
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}
 
.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}
 
.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}
 
.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
 
.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}
 
.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}
 
.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}
 
/* Hover state */
 
.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}
 
/* Active state */
 
.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
 
/* No CSS3 support */
 
.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
 
.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}
 
 
/* DEMO 4 */
 
.wrapper-dropdown-4 {
    /* Size and position */
    position: relative;
    width: 270px;
    margin: 0 auto;
    padding: 10px 10px 10px 30px;
 
    /* Styles */
    background: #fff;
    border: 1px solid silver;
    cursor: pointer;
    outline: none;
}
 
.wrapper-dropdown-4:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #ffaa9f transparent;
}
 
.wrapper-dropdown-4 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    margin-top: 1px;
    left: -1px;
    right: -1px;
 
    /* Styles */
    background: white;
    border: inherit;
    border-top: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}
 
/* Red lines: the pseudo-elements way */
.wrapper-dropdown-4 .dropdown:before,
.wrapper-dropdown-4:before {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    border: 1px solid #ffaa9f;
    border-top: none;
    border-bottom: none;
    z-index: 2;
}
 
/* Red lines: the gradients way */
 
/*
.wrapper-dropdown-4 .dropdown,
.wrapper-dropdown-4 {
  background: linear-gradient(left, white 5%, #ffaa9f 5%, #ffaa9f 5.3%, white 5.3%, white 6.5%, #ffaa9f 6.5%, #ffaa9f 6.8%, white 6.8%);
}
 
.wrapper-dropdown-4 .dropdown li:hover label {
  background: linear-gradient(left, #f0F0F0 5%, #ffaa9f 5%, #ffaa9f 5.3%, #f0F0F0 5.3%, #f0F0F0 6.5%, #ffaa9f 6.5%, #ffaa9f 6.8%, #f0F0F0 6.8%);
}
*/
 
.wrapper-dropdown-4 .dropdown li {
    position: relative; /* Enable absolute positioning for checkboxes */
}
 
.wrapper-dropdown-4 .dropdown li label {
    display: block;
    padding: 10px 10px 10px 30px; /* Same padding as the button */
    border-bottom: 1px dotted #1ccfcf;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
 
.wrapper-dropdown-4 .dropdown li:last-of-type label {
    border: none;
}
 
.wrapper-dropdown-4 .dropdown li input /* Checkboxes */ {
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}
 
/* Hover state */
 
.wrapper-dropdown-4 .dropdown li:hover label {
    background: #f0f0f0;
}
 
/* Checked state */
 
.wrapper-dropdown-4 .dropdown li input:checked ~ label {
    color: grey;
    text-decoration: line-through;
}
 
/* Active state */
 
.wrapper-dropdown-4.active:after {
    border-width: 0 6px 6px 6px;
}
 
.wrapper-dropdown-4.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
 
/* No CSS3 support */
 
.no-opacity       wrapper-dropdown-4 .dropdown,
.no-pointerevents .wrapper-dropdown-4 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
 
.no-opacity       .wrapper-dropdown-4.active .dropdown,
.no-pointerevents .wrapper-dropdown-4.active .dropdown {
    display: block;
}
 
#userpic{
  float: left;

 
}
 
#langpic{
  float: right;
  width: 55px;
  margin-right: 1rem;
}
 
/* DEMO 5 */
 
.wrapper-dropdown-5 {
    /* Size & position */
  position: relative;
  width: 240px;
  margin: 0 auto;
  padding: 7px 30px 15px 10px;
 
    /* Styles */
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
 
.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #ffffff transparent;
}
 
.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
 
    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    z-index: 3;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
 
    /* Hiding */
    max-height: 0;
    overflow: hidden;
}
 
.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}
 
.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}
 
.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}
 
.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}
 
/* Hover state */
 
.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}
 
/* Active state */
 
.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}
 
.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}
 
.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}
 
/* No CSS3 support: none */

table.striped tbody tr:nth-child(odd) {
  background-color: #eef2f3;
}

body.home{
	background-image: none;
	background-color: #eef2f3;
}


.input-field label {
  color: #53585C;

}

.tabs li.tab a {
 color: #2790B1 !important;
}

btn, .btn-large {
  background-color: #93A42B;
}

.waves-effect{
  z-index: 0;
}


.modal .modal-footer {
  background-color: #fff;
}


.select-wrapper input.select-dropdown {
  margin-left: 0.75rem;

}



.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
  float: right;
  margin: 5px !important;
  margin-bottom: 12px !important;
  margin-top: 12px !important;
  padding: 0 1rem !important;
  margin-right: 10px !important;
}



input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  width: 95%;
  }


  .select-wrapper input.select-dropdown {
  width: 95%;
  }


  #navitest{
    background:#369;
  }


  nav{
    box-shadow: none;
  }


@media only screen and (min-width: 993px){
.row .col.l10 {
  width: 78.33333%;
  margin-left: 0;
}

  .row .col.l2 {
  width: 21.66667%;
  margin-left: 0;
}

}


@media only screen and (min-width: 661px){
.row .col.l10 {
  width: 76.33333%;
  margin-left: 0;
}

  .row .col.l2 {
  width: 23.66667%;
  margin-left: 0;
}

}

@media only screen and (min-width: 601px) {
.container {
  width: 90%;
}

}



@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 75px;
  line-height: 84px !important;
}
}

#nav-mobile{

  background: #eef2f3;
}

ul.side-nav li {
  float: none;
  padding: 0 15px;
  line-height: 45px;
  background: #fff;
  margin-bottom: 1px;
}


#user_sidenav{

  background: #2790B0;
  height: 75px;


}

#sidenav_a{

  color: #ffffff;
  height: 95px;
  line-height: 20px;
  width: 210px;
  padding-top: 1.2rem;

}

.circle_side{
  margin-top: 0.8rem;
  float: left;
  margin-right: 0.8rem;
}

 @media only screen and (max-width : 993px) {
    .cicle, #username,#userpic, .wrapper-dropdown-5:after {
      display:none; }

    #dd{
      height: 75px;
    }
}

 @media only screen and (min-width: 993px ,max-width : 1198px) {
    .cicle, #username,#userpic, .wrapper-dropdown-5:after {
      display:none; }

    #dd{
      height: 78px;
    }

    .wrapper-dropdown-5 {
      padding: 9px 30px 15px 10px !!important;
      

    }
}





 @media only screen and (max-width : 600px) {
    
    #dd{
      height: 78px;
    }
    nav .brand-logo {
  margin-top: 3rem;
  margin-left: 20%;
}

nav a.button-collapse i {
  font-size: 2.7rem;
  height: 71px;
  line-height: 79px;
}

}



.teal.lighten-1 {
  background-color: #2790B0 !important; }





  .teal-text.text-lighten-1 {
  color: #2790B0 !important; }


   .collection .collection-item.active {
      background-color: #2790B0;
      color: #eafaf9; }


       .collection a.collection-item {
   
    color: #2790B0; }


    .secondary-content {
  float: right;
  color: #2790B0; }



   span.badge.new {

    background-color: #2790B0;
   }
 




    .progress .determinate {

    background-color: #2790B0;
 }




      .progress .indeterminate {
    background-color: #2790B0; }







.btn, .btn-large {
 
  background-color: #2790B0;
 }







  .btn-floating {

  background-color: #2790B0;
 }



   .dropdown-content li > a, .dropdown-content li > span {
     
      color: #2790B0; }




      .input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=url]:focus + label, .input-field input[type=date]:focus + label, .input-field input[type=tel]:focus + label, .input-field input[type=number]:focus + label, .input-field input[type=search]:focus + label, .input-field textarea:focus.materialize-textarea + label {
    color: #2790B0; }



     .input-field .prefix.active {
      color: #2790B0; }





      input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus.materialize-textarea {
  border-bottom: 1px solid #2790B0;
  -webkit-box-shadow: 0 1px 0 0 #2790B0;
  -moz-box-shadow: 0 1px 0 0 #2790B0;
  box-shadow: 0 1px 0 0 #2790B0; }


  [type="radio"]:checked + label:after {
 
  border: 2px solid #2790B0;
  background-color: #2790B0;
 }




  /* Radio With gap */
[type="radio"].with-gap:checked + label:before {

  border: 2px solid #2790B0; }



  [type="radio"].with-gap:checked + label:after {

  border: 2px solid #2790B0;
  background-color: #2790B0;
 }




  /* Checked styles */
[type="checkbox"]:checked + label:before {

  border-right: 2px solid #2790B0;
  border-bottom: 2px solid #2790B0;
 }


  .switch label input[type=checkbox]:checked + .lever:after {
  background-color: #2790B0; }






  input[type=range] + .thumb {

  background-color: #2790B0;
 }




   input[type=range] + .thumb .value {
  
    color: #2790B0;
 }




    input[type=range]::-webkit-slider-thumb {

  background-color: #2790B0;
; }




  input[type=range]::-moz-range-thumb {

  background: #2790B0;
 }



  input[type=range]::-ms-thumb {

  background: #2790B0; }


  .picker__date-display {

  background-color: #2790B0;
 }


  .picker__day.picker__day--today {
  color: #2790B0; }


  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {

  background-color: #2790B0;
  }


  .picker__close, .picker__today {

  color: #2790B0; }

  .switch label input[type=checkbox]:checked + .lever {
  background-color: #2790B0 !important;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #2790B0 !important; }


  ul.side-nav li:hover, ul.side-nav li.active {
  background-color: #2790B0;
  color: #ffffff;
  /* color: #fff; */
}

  ul.side-nav a:hover, ul.side-nav a.active {
  color: #ffffff !important;
  :1054;
}

  ul.side-nav li:hover, li.side-nav a.active {
  color: #ffffff !important;
  
}



 

 
.wrapper-dropdown-5 {
    /* Size & position */
 
  padding: 11px 30px 15px 10px !important;
  height: 75px;

}









  

